:root {
--prymary-text-color: #757575;
--font-family: Roboto;

}
a{
    text-decoration: none;
}
li{
   list-style-type: none;
}
body {
  font-family: Roboto, sans-serif;
  }
  h1,h2,h3,h4,h5,h6,p{
 margin: 0;
}
address{
    font-style: normal;
}
.list{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
image{
    display: block;
}

  /* ========Header============ */
.header .container{
    display: flex;
    align-items: baseline;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }
  
    .site-nav .item+.item{
        margin-left: 50px;
        display: block;
    }

    .auth-nav .link{
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .site-nav{
        display: flex;
    }
.web{
display: flex;
margin-left: 15px;

font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #2196F3;
}

.web:hover, .web:focus{
    color: #2196f3;
}
.web:active{
    color: teal;
}
.header .logo{
display: flex;
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
width: 145px;
height: 31px;
font-weight: bold;
font-size: 26px;
line-height: 1.192;
color: #212121;
}

.logo:hover, .logo:focus{
    color:#2196f3;
}
.logo:active{
    color: teal;
}

.site-nav-studio{
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #2196F3;
}

.site-nav-studio:hover, .site-nav-studio:focus{
    color:#2196f3;
}
.site-nav-studio:active{
    color: teal;
}
.site-nav-portfolio, .site-nav-contacts{
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #212121;
}
.site-nav-portfolio:hover, .site-nav-portfolio:focus,
.site-nav-contacts:hover, .site-nav-contacts:focus{
    color: #2196f3;
}
.site-nav-portfoli:active,.site-nav-contacts:active{
    color: teal;
}

.auth-nav{
    display: flex;
    margin-left: auto;
}
.auth-nav .item+.item{
margin-left: 50px;
}

.header .auth-nav-contacts-link{
    margin-left: auto;
}
.auth-nav-contacts-link{
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #2196F3;
}

.auth-nav-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: var(--prymary-text-color);
}
.auth-nav-contacts-link:hover,.auth-nav-contacts-link:focus,
.auth-nav-tel:hover,.auth-nav-tel:focus{
    color: #2196f3;
}
.auth-nav-tel:active,.auth-nav-contacts-link:active{
    color: #2196F3;
}
/* ========End Header============ */

/* ========Studio Button on backend============ */
.title-buton{
    background-color: #2F303A;
    height: 650px;
;
}

.title-buton-title{
padding-left: 250px;
padding-right: 250px;
padding-top: 200px;
margin-bottom: 30px;
padding-bottom: 30px;

font-weight: 900;
font-size: 44px;
line-height: 1.363;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF; 
}


.title-buton-buton{
width: 200px;
height: 50px;
justify-content: center;
margin-left: 582px;
margin-right: 582px;
background-color: #2196F3;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.title-buton-buton:hover, .title-buton-buton:focus{
    color:#2196f3;
    background-color: #fff;
}

.title-buton-title:hover, .title-buton-title:focus{
    color:#2196f3;
}
.title-buton-buton:active,
.title-buton-title:active{
     color: #2196F3;
     background-color: #fff;
}
/* ========End Studio Button on backend============ */

/* ========Features============ */
.features-items{
width: 1230px;
padding-left: 15px;
padding-right: 15px;
margin-top: 94px;
margin-bottom: 94px;
margin-left: auto;
margin-right: auto;;
}

.features{
    display: flex;
}

.features-title{
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}


.features .item {
width: 270px;
}

.features-text{
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--prymary-text-color);
}

.features .item:not(:last-child) {
margin-right: 30px;
}

.title-2{
min-width: 376px;
margin-bottom: 50px;

font-weight: bold;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.images{
display: flex;
width: 1230px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
margin-bottom: 94px;
}

.images .item:not(:last-child){
margin-right: 30px;
}
/* ========End Features============ */
/* ========What we do============ */

.our-team{
width: 1230px;
padding-left: 15px;
padding-right: 15px; 
margin-right: auto;
margin-left: auto;
}
.title-3{
min-width: 264px;
margin-left: auto;
margin-right: auto;
margin-top: 188px;
margin-bottom: 50px;

font-weight: bold;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.names{
font-weight: 500;
font-size: 16px;
line-height: 1.187;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.names{
    padding-top: 30px;
    padding-bottom: 10px;
}
.work{
margin-bottom: 124px;
font-weight: normal;
font-size: 16px;
line-height: 1.187;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--prymary-text-color);
}
.title-3-members{
display: flex;
margin-left: auto;
margin-right: auto;
}
.title-3-members .item:not(:last-child){
margin-right: 30px;

}
.title-3-members .item{
    background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
/* ========What we do============ */
/* ========Footer============ */
.footer{
    background-color: #2F303A;
    height: 252px;
    margin-top: 94px;
}
.footer .container{
width: 1230px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
}
.footer .web{
margin-left: 0px;
margin-bottom: 20px;

font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #2196F3;
}

.footer .logo{
display: flex;
padding-top: 60px;
padding-right: 0;
margin-right: auto;
margin-bottom: 20px;

width: 145px;
height: 31px;
font-weight: bold;
font-size: 26px;
line-height: 1.192;
color: #fff;
}

.logo:hover, .logo:focus{
    color:#2196f3;
}
.logo:active{
    color: teal;
}
.footer-address{
padding-top: 20px;
padding-bottom: 9px;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* or 171% */
letter-spacing: 0.03em;
color: #FFFFFF;
}
 .footer-mail{
padding-bottom: 9px;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
 }

 .footer-tel{
padding-bottom: 60px;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
 }

 .footer-mail:hover, .footer-tel:focus,
 .footer-tel:hover, .footer-mail:focus{
     color: #2196f3;
 }
 .footer-mail:active{
     color: #2196f3;
 }
 /* ========End Features============ */

 /* ========Portfolio list button======= */
.list-button{
display: flex;
justify-content: center;
width: 1230px;
padding-top: 174px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.list-button .item+.item{
    margin-left: 8px;

}

 .button{
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.all-button{
min-width: 73px;
height: 38px;
background: #2196F3;
/* shadow-middle */

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.all{
margin: 6px 22px;
min-width: 29px;
height: 26px;
border: none;
background: #2196F3;
color: #ffffff;

}
.all:hover, .all:focus,
.all:active{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.veb{
min-width: 84px;
margin: 6px 15px;
height: 26px;
border: none;
background: transparent;
}
.veb-button{
width: 128px;
height: 38px;
background: #F5F4FA;
border-radius: 4px solid rgb(255, 255, 255);
}
.veb-button:hover{
background: #2196F3;
}

.soft{
min-width: 101px;
height: 26px;
margin: 6px 22px;
border: none;
background: transparent;
}
.soft-button{
min-width: 135px;
height: 38px;
background: #F5F4FA;
border-radius: 4px solid rgb(255, 255, 255);
}
.soft-button:hover{
background: #2196F3;
}
.design{
min-width: 59px;
height: 26px;
margin: 6px 22px;
border: none;
background: transparent;
}
.design-button{
min-width: 103px;
height: 38px;
background: #F5F4FA;
border-radius: 4px solid rgb(255, 255, 255);
}
.design-button:hover{
background: #2196F3;
}

.marketing{
min-width: 86px;
height: 26px;
margin: 6px 22px;
border: none;
background: transparent;
}
.marketing-button{
min-width: 130px;
height: 38px;
background: #F5F4FA;
border-radius: 4px solid rgb(255, 255, 255);
}
.marketing-button:hover{
background: #2196F3;
}
.button:hover, .button:focus,
.button:active{
color: #FFFFFF;
background: #2196F3;
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
 }

 
/* ========End Portfolio list button======= */
/* ========Portfolio progects============ */
 .progects{
     width: 1230px;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 94px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     display: flex;
     flex-wrap: wrap;     
 }

 .progects .item{
width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
margin-right: 30px;

 }

 .progects .item:nth-child(n3){
margin-right: 30px;
 }

 .progects .item:nth-last-child(-n+7){
     margin-bottom: 30px;
 }
.progects-title{
padding-left: 24px;
padding-top: 20px;
padding-bottom: 4px;
width: 322px;
height: 36px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
 }

 .progects-text{
padding-left: 24px;
font-weight: normal;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--prymary-text-color);
 }
 /* ========End Portfolio progects============ */
